<meta name="viewport" content="width=device-width, initial-scale=1">

@{
    ViewBag.Title = "Lance Coffman's Coding Playground";

}

<div class="container-fluid">

    <div class="jumbotron" id="jumbotron-one">
        <div class="container"  style="height:150px">
        </div>
    </div>

    <div class="row" style="margin:auto; max-width: 500px"> This website is hosted at <a href="https://azure.microsoft.com" target="_blank">Microsoft Azure</a> <a href="https://github.com/LanceCoffman/LanceCoffmanCodingPlayground" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code (GITHUB)</a> </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Sales Items Look Up (Entity Framework and Migrations/Scaffolding)</h3>
            <ul class="list-group">
                <li class="list-group-item" style="font-weight: bold;">KEYWORDS: Entity Framework (Sql Server), Pagination, Scaffolding, Migrations, Data First approach, Searching with Controllers, Razor</li>
                <li class="list-group-item" style="font-weight: bold;">REQUIREMENTS/USER STORY:</li>
                <li class="list-group-item">Connect to SQL Server and Entity Framework</li>
                <li class="list-group-item">Using Scaffolding and Migration for Data First Approach</li>
                <li class="list-group-item">Search by Order Id on same on Index view</li>
                <li class="list-group-item"><a href="http://aspmvc5searchwithef.azurewebsites.net/SalesLineItems" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View LIVE DEMO)</a></li>
                <li class="list-group-item"><a href="https://github.com/LanceCoffman/ASPMVC5SearchWithEF" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code in GITHUB</a></li>

            </ul>
        </div>
        <div class="col-md-4">
            <h3>Simple Zoo (Class Inheritance)</h3>
            <ul class="list-group">
                <li class="list-group-item" style="font-weight: bold;">KEYWORDS: Class Inheritance, C#, OOP, Searching with Controllers, Razor, JS</li>
                <li class="list-group-item" style="font-weight: bold;">REQUIREMENTS/USER STORY:</li>
                <li class="list-group-item">Use Animals for example and lookup by attributes</li>
                <li class="list-group-item">Search by Color and Environment</li>
                <li class="list-group-item">Return Image and action item to make it Move</li>
                <li class="list-group-item">Explain simple OOP concept</li>
                <li class="list-group-item"><a href="/simplezoo" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View LIVE DEMO)</a></li>
                <li class="list-group-item"><a href="https://github.com/LanceCoffman/LanceCoffmanCodingPlayground/" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code in GITHUB</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Playing With the Elements (jQuery fun)</h3>
            <ul class="list-group">
                <li class="list-group-item" style="font-weight: bold;">KEYWORDS: JQUERY</li>
                <li class="list-group-item" style="font-weight: bold;">REQUIREMENTS/USER STORY:</li>
                <li class="list-group-item">Manipulate items on page using JQuery</li>
                <li class="list-group-item">Show examples of Hiding, Sliding, and Ancestory color styling</li>
                <li class="list-group-item">Always starts: $(document).ready(function(){ put code here });</li>
                <li class="list-group-item"><a href="/playingwiththeelements" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View LIVE DEMO)</a></li>
                <li class="list-group-item"><a href="https://github.com/LanceCoffman/LanceCoffmanCodingPlayground/" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code in GITHUB</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Fizz Buzz Test - IN PROGRESS</h3>
            <ul class="list-group">
                <li class="list-group-item" style="font-weight: bold;">KEYWORDS: C#, Fizz Buzz</li>
                <li class="list-group-item" style="font-weight: bold;">REQUIREMENTS/USER STORY:</li>
                <li class="list-group-item">Write a program that prints all the numbers from 1 to 100. For multiples of 3, instead of the number, print "Fizz", for multiples of 5 print "Buzz". For numbers which are multiples of both 3 and 5, print "FizzBuzz".</li>
                <li class="list-group-item"><a href="#" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-globe"></span> View LIVE DEMO)</a></li>
                <li class="list-group-item"><a href="#" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code in GITHUB</a></li>

            </ul>
        </div>
    </div>
</div>
