
@{
    ViewBag.Title = "Lance Coffman's Coding Playground";

}

<div class="container">

    <div class="bgtop"></div>
    <div class="jumbotron">
    </div>

    <div class="row" style="margin:auto; max-width: 500px"> This website is hosted at <a href="https://azure.microsoft.com" target="_blank">Microsoft Azure</a> <a href="https://github.com/LanceCoffman/LanceCoffmanCodingPlayground" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code (GITHUB)</a> </div>

    <div class="col-md-3">
        <h3>ASP MVC 5 with EF</h3>
        <ul class="list-group">
            <li class="list-group-item">Connect to SQL Server and Entity Framework</li>
            <li class="list-group-item">Using Scaffolding to create routine database methods (Edit, Delete, Detail Views) to Index View</li>
            <li class="list-group-item">Add Search by Order Id on same on Index view</li>
            <li class="list-group-item"><a href="http://aspmvc5searchwithef.azurewebsites.net/" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Project (Live Demo & Code)</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Simple Zoo</h3>
        <ul class="list-group">
            <li class="list-group-item">Build a simple zoo search ('virtual')</li>
            <li class="list-group-item">Search by Color and Environment</li>
            <li class="list-group-item">Return Image and action item to make it Move</li>
            <li class="list-group-item">Just trying here to explain OOP and classes</li>
            <li class="list-group-item"><a href="http://lancecoffmancodingplayground.azurewebsites.net/simplezoo/" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View LIVE DEMO)</a></li>
            <li class="list-group-item"><a href="https://github.com/LanceCoffman/LanceCoffmanCodingPlayground/" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Code in GITHUB</a></li>

        </ul>
    </div>
</div>
