
@{
    ViewBag.Title = "Lance Coffman's Coding Playground";

}

<div class="bgtop"></div>
    <div class="jumbotron">
</div>

<div class="row" style="margin:auto; max-width: 500px"> This website is hosted at <a href="https://azure.microsoft.com" target="_blank">Microsoft Azure</a> <a href="https://github.com/LanceCoffman/LanceCoffmanCodingPlayground" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> View Code (GITHUB)</a> </div>

    <div class="row">
        <div class="col-md-3">
            <h3>ASP MVC 5 with EF</h3>
            <p>
                Use VS 2015 and create ASP MVC 5 using Entity Framework with one view with a search and with Partial view to search employee names.
            </p>
            <a href="#" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Demo</a>
            <a href="#" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Download Code (GITHUB)</a>
        </div>
        <div class="col-md-3">
            <h3>Bootstrap Fun</h3>
            <p>
                Use VS 2015 and show examples of popular Bootstrap styling.
            </p>
            <a href="#" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Demo</a>
            <a href="#" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Download Code (GITHUB)</a>
        </div>
        <div class="col-md-3">
            <h3>Razor Fun</h3>
            <p>
                Use VS 2015 and show examples of popular Razor Syntax.
            </p>
            <a href="#" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Demo</a>
            <a href="#" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Download Code (GITHUB)</a>
        </div>
        <div class="col-md-3">
            <h3>Javascript Fun</h3>
            <p>
                Use VS 2015 and show examples of popular Javascript methods and functions.
            </p>
            <a href="#" target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Demo</a>
            <a href="#" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"></span> Download Code (GITHUB)</a>
        </div>
    </div>
